@import '@css/var.scss';
* {
  box-sizing: border-box;
  font-family: PingFangSC-Regular;
  touch-action: pan-y;
}
body {
  background: #fff;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5tahoma, arial, \5b8b\4f53;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}
a:focus {
  outline: none;
  -moz-outline: none;
}
a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  // background: none;
  text-decoration: none;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
// 去除搜索类型的输入框的小叉叉
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input{
  -webkit-appearance: none;
}
button {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  outline: none;
  background: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  outline: none;
}

html {
  height: 100%;

  // @media (max-width: 375px) {
  //   font-size: 750px;
  //   @include rem-baseline(117.1875%);
  // }

  // @media (min-width: 800px) {
  //   @include rem-baseline(125%);
  // }
}

body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[v-cloak]{
  display: none;
}

.container{
  width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}
// tab样式
.tabs-wrap {
  position: relative;
  .expand-wrap {
    position: absolute;
    top: 10px;
    right: 0;
    color: $--color-info;
    font-family: PingFang SC;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
  }
}
// 筛选框样式
.filter-wrap {
  padding-top: 24px;
  .item-wrap {
    display: flex;
    justify-content: flex-start;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    .title {
      width: 56px;
      color: $--color-text-regular;
      font-family: PingFang SC;
      font-weight: 600;
      font-size: 14px;
      text-align: right;
      line-height: 32px;
    }
    .list {
      display: flex;
      justify-content: flex-start;
      padding-left: 24px;
      li {
        a {
          display: block;
          padding: 0 16px;
          color: $--color-text-primary;
          font-family: PingFang SC;
          font-size: 14px;
          line-height: 32px;
          letter-spacing: 0px;
          border-radius: 4px;
          &.active {
            color: #ffffff;
            background: $--color-primary;
          }
        }
        &.ml {
          margin-left: 4px;
        }
        // 时间选择器
        .el-date-editor {
          height: 32px;
          .el-input__icon {
            margin-top: -8px;
          }
          .el-range-separator {
            width: 8%;
            margin-top: -8px;
          }
        }
      }
    }
  }
  .long-line {
    height: 1px;
    background: #f2f6fc;
  }
  .item-selecetd-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    margin-bottom: 24px;
    .left-item{
      display: flex;
      justify-content: flex-start;
      .title {
        width: 56px;
        color: $--color-text-regular;
        font-family: PingFang SC;
        font-weight: 600;
        font-size: 14px;
        text-align: right;
        line-height: 32px;
      }
      .list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 32px;
        padding-left: 24px;
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 16px;
          height: 22px;
          border-radius: 4px;
          background: #f5f7fa;
          &:not(:last-child) {
            margin-right: 8px;
          }
          div {
            text-align: center;
            color: $--color-info;
            font-family: PingFang SC;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0px;
          }
          a {
            display: block;
            margin-left: 4px;
            height: 100%;
            img {
              width: 14px;
              height: 14px;
            }
          }
        }
      }
    }
    .right-item{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img{
        display: block;
        width: 16px;
        height: 16px;
      }
      p{
        color: $--color-text-regular;
        font-family: PingFang SC;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0px;
      }
    }
  }
}